.tupperware {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.cardLayout {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
  margin: 0.5rem;
}
@media (min-width: 955px) {
  .cardLayout {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1500px) {
  .cardLayout {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media (min-width: 1750px) {
  .cardLayout {
    flex: 0 0 auto;
    width: 25%;
  }
}

.card-450 {
  max-width: 450px;
}

.searchFilters {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
@media (max-width: 954.98px) {
  .searchFilters {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 955px) {
  .searchFilters {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1500px) {
  .searchFilters {
    flex: 0 0 auto;
    width: 25%;
  }
}